@import "tailwindcss";

:root {
	--neutral: hsl(0, 0%, 100%);
	--lighterGray: hsl(250, 6%, 84%);
	--lightGray: hsl(240, 6%, 70%);
	--darkGray: hsl(243, 23%, 30%);
	--darkerGray: hsl(243, 23%, 24%);
	--veryDarkGray: hsl(243, 27%, 20%);
	--theDarkest: hsl(243, 96%, 9%);
	--orange: hsl(28, 100%, 52%);
	--lightBlue: hsl(233, 67%, 56%);
	--darkBlue: hsl(248, 70%, 36%);

	--font-dmSans: "DM Sans", sans-serif;
	--font-grotesque: "Bricolage Grotesque", sans-serif;
}
body {
	font-family: var(--font-dmSans);
}
.wrapper {
	margin-inline: auto;
	width: min(100%, 1100px);
	padding-inline: 1em;
}
@keyframes dotsLoading {
	0% {
		transform: translateY(0);
	}
	15% {
		transform: translateY(-60%);
	}
	30%,
	100% {
		transform: translateY(0);
	}
}

.skeleton {
	&::after {
		content: "";
		position: absolute;
		inset: 0;

		background: linear-gradient(
			90deg,
			transparent,
			rgba(255, 255, 255, 0.08),
			transparent
		);

		background-size: 200% 100%;
		animation: shimmer 3s linear infinite;
	}
}

@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		backgroundposition: 200% 0;
	}
}
