@import "tailwindcss";

@theme {
	--font-poppins: "Popins", sans-serif;
	--color-purple-500: hsl(259, 100%, 65%);
	--color-red-400: hsl(0, 100%, 67%);
	--color-grey-100: hsl(0, 0%, 94%);
	--color-grey-200: hsl(0, 0%, 86%);
	--color-grey-500: hsl(0, 1%, 44%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
